/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove o sublinhado de todos os links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove as bolinhas/números de todas as listas */
ul, ol {
  list-style: none;
}

/* Garante que imagens nunca passem do tamanho da tela */
img {
  max-width: 100%;
  display: block;
}

body {
    background-color: aqua;

}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:pink;
    gap: 0;
    padding: 10px;
}

.logo_titulo {
    display: flex;
    align-items: center;
}

.logo_titulo a img {
    height: 80px;
    width: auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

ul li a {
  text-decoration: none;
}

.container {
    background-color: gray;
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
}

.sessao_bem_vindo {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    border-radius: 15px;
}



.main p {
    text-align: center;
}

section {
    margin-top: 20px;
}

.sessao_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
}

.sessao_contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.sessao_contatos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    height: 50px;
}

.rodape p {
    color: white;
}