* {
    outline: 1px solid red;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 100px;
    height: 100%;
}



